{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ocul">
			<a href="{{ with .Site.Params.footer.link }}{{ . }}{{ end }}">
				<img alt="{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}" src="{{ .Site.BaseURL }}assets/img/{{ with .Site.Params.footer.logo }}{{ . | markdownify }}{{ end }}">
			</a>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {{ range .Site.Params.footer.social }}
                    <li><a href="{{ .link }}"><i class="fa {{ .icon }}" alt="{{ .alt }}"></i></a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-4 ocul">
            <a href="{{ with .Site.Params.footer.secondlink }}{{ . }}{{ end }}">
                <img alt="{{ with .Site.Params.footer.secondcopyright }}{{ . | markdownify }}{{ end }}" src="{{ .Site.BaseURL }}assets/img/{{ with .Site.Params.footer.secondlogo }}{{ . | markdownify }}{{ end }}">
            </a>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {{ range .Site.Params.footer.quicklinks }}
                    <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
