<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <form action="https://dataverse.scholarsportal.info/dataverse/sp?" name="sentMessage" id="contactForm" novalidate>
                    <div class="input-group search-box">
                        <input name="q" type="text" class="form-control" placeholder="Search Dataverse">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</section>