{{ "<!-- Pricing Section -->" | safeHTML }}
<section id="pricing" class="bg-light-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.pricing.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.pricing.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="table-responsive col-sm-8 col-sm-offset-2">
            <h4>OCUL Libraries</h4> 
            <table class="table">
                <tr>
                    <td>Base Subscription *</td>
                    <td>$1600/year</td>
                </tr>
                <tr>
                    <td colspan="2">Additional Storage:</td>
                </tr>
                <tr>
                    <td class="tab-indent">Per 1 TB</td>
                    <td>$320/year</td> 
                </tr>
                <tr>
                    <td class="tab-indent">Per 10 TB</td>
                    <td>$3100/year</td> 
                </tr>
                <tr>
                    <td class="tab-indent">Per 50 TB</td>
                    <td>$15500/year</td> 
                </tr>
                <tr>
                    <td>Data Transfer Services **</td>
                    <td>$75/hour</td>
                </tr>
                <tr>
                    <td>Network Data Transfer Fees</td>
                    <td>No Charge</td>
                </tr>
                <tr>
                    <td>Tape Backup</td>
                    <td>Pricing Available on Request</td>
                </tr>
            </table>
            <br>
            <h4>Other Canadian Libraries</h4>
            <table class="table">
                <tr>
                    <td>Base Subscription *</td>
                    <td>$3950/year</td>
                </tr>
                <tr>
                    <td colspan="2">Additional Storage:</td>
                </tr>
                <tr>
                    <td class="tab-indent">Per 1 TB</td>
                    <td>$790/year</td>
                </tr>
                <tr>
                    <td class="tab-indent">Per 10 TB</td>
                    <td>$7700/year</td>
                </tr>
                <tr>
                    <td class="tab-indent">Per 50 TB</td>
                    <td>$39500/year</td>
                </tr>
                <tr>
                    <td>Data Transfer Services **</td>
                    <td>$100/hour</td>
                </tr>
                <tr>
                    <td>Network Data Transfer Fees</td>
                    <td>No Charge</td>
                </tr>
                <tr>
                    <td>Tape Backup</td>
                    <td>Pricing Available on Request</td>
                </tr>
            </table>

            <br>
            <div>*  Includes 5TB of object storage, technical support from Scholars Portal staff, and voting representation on governance group (OCUL libraries only)</div><br>
            <div>** From disk or tape to the cloud; Charged per hour of staff time</div>
        </div>
    </div>
</section>